
.container {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
}

.input-group input {
  width: 70px;
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}
button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #3498db;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}